@import "tailwindcss";

@theme {
  --color-bibiche-vert: #8aa795;
  --color-bibiche-terra: #b86c36;
  --font-sans: "Montserrat", sans-serif;
  --font-display: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
